section {
  margin: 0px auto;
  // padding: 0 25px 0px 25px;
  max-width: 910px;
  margin-bottom: 6em;
  min-width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

section.hero {
  padding: 0px 25px 0px 25px;
}

section.contact {
  margin-bottom: 0;
}