$main_color: #7289da;
$main_color_transp: #7289da77;
$main_color_high: #4a5991;
$white: #e2e6f2;
$slow_white: #a8b2d1;
$color-white: #fff;
$color-black: #000;
$color-primary: #90caf9;
$color-primary-light: #03a9f4;
$color-primary-dark: #03a9f4;
$color-grey-dark-2: #e0e0e0;
$color-grey-dark-3: #b0bec5;
$main-color-dark: #243265;