// // 타이핑
// .is-typed {
//   font-family: 양진체, sans-serif;
//   color: white !important;
//   font-size: 30px;
//   white-space: pre-line;
//   text-align: left !important;
// }

.is-typed span.typed {
  color: white;
}

/* 커서 색상,두께 */
.is-typed span.cursor {
  display: inline-block;
  width: 2px;
  background-color: white;
  transform: scaleY(.7);
  margin-left: 10px;
  animation: blink 1s infinite;
}

.is-typed span.underscore {
  display: inline-flex;
  width: 50px;
  height: 1px;
  align-items: flex-end;
  background-color: white;
  animation: blink 1s infinite;
}

.is-typed span.cursor.typing {
  animation: none;
}

@keyframes blink {
  49% {
    background-color: white;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }
}